{% extends 'base.html' %}


{% block app_content %}
<a class="btn btn-warning home" href="{{ url_for('index') }}">Home</a>
<a class="btn btn-info refresh" href="{{ url_for('live') }}">Refresh</a>
<div class="counter">{{new_live.counter}}</div>
<table class="world">
    {% for i in range(new_live.world|length) %}
    <tr>
        {% for j in range(new_live.world|length) %}
        {% if new_live.world[i][j] == 1 %}
            <td class="cell living-cell"></td>
        {% elif new_live.world[i][j] == 0 and new_live.old_world[i][j] == 1 %}
            <td class="cell dead-cell"></td>
        {% else %}
            <td class="cell"></td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>setInterval(() => window.location.reload(), 1000);</script>
{% endblock %}